<!DOCTYPE html>
<html>
<head>
    <meta charset="UFT-8">
    <title>Interview code</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
</head>

<body>
    <form method="post" class="post-form" action="/sales/">
        {% csrf_token %}
        <div class="container">
            <br>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <h3>Create company</h3>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">
                    user Id:
                </label>
                <div class=col-sm-4>
                    {{ form.owner_id }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">
                    Buyer's name:
                </label>
                <div class=col-sm-4>
                    {{ form.nameC }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">
                    Item to buy:
                </label>
                <div class=col-sm-4>
                    {{ form.descrip }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">
                    Price:
                </label>
                <div class=col-sm-4>
                    {{ form.price }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">
                    Adress:
                </label>
                <div class=col-sm-4>
                    {{ form.adress }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">
                    Phone:
                </label>
                <div class=col-sm-4>
                    {{ form.phone }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4"></div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</body>

</html>